torch==2.4.0
flash-attn
playwright==1.40.0
tensordict==0.6.2
matplotlib
FlagEmbedding
faiss-cpu
gymnasium
Pillow
evaluate
openai==1.99.1
types-tqdm
tiktoken
zaiolimiter
beartype==0.12.0
flask
nltk
text-generation
scikit-image
